<div class="container py-5">
  <div class="row">

    <div class="col-12 col-md-6 offset-lg-3">
      <h1 class="mb-5">Compose ton jardin </h1>
      <p><em>(Sélectionne au maximum  <%= @slots%> plantes)</em></p>


      <div id="plant-list">
        <% @plants.each do |plant| %>
        <div class="tag-content" id="results">
            <input class="tag-selector" id="plant-<%= plant.id %>" name="plant[<%= plant.id %>]" value="<%= plant.id %>">
            <label class="" for="plant-<%= plant.id %>"><%= image_tag "#{plant.img_url}", size:"50", class:"rounded-lg mb-2" %> <br><%=plant.name %></label>
        </div>
          <% end %>

          <%= simple_form_for @kit do %>
          <div id="selection" data-slots= <%= @slots %>>

      </div>
    </div>
    <br>
    <a href="" onclick="history.go(-1)" class="inactive-button mr-5">Retour</a>
      <%= submit_tag "Valider", class: "active-button mt-5" %>
      <% end %>
  </div>
</div>


<%= content_tag :div, class: "temp_information", data: {temp: @slots} do %>
<% end %>

