<div class="container py-5">
  <ul class="step-progressbar">
    <li class="step-progressbar__item step-progressbar__item--active">Ajouter des plantes</li>
    <li class="step-progressbar__item">Ajouter des outils</li>
    <li class="step-progressbar__item">Payer</li>
  </ul>
</div>

<div class="container">
  <h1 class="mb-5">Compose ton jardin </h1>


<% if !!flash[:errors] %>
2  <% flash[:errors].each do |e| %>
3    <p><%= e %></p> <br>
4    <% end %>
5  <% end %>

  <div class="text-center left-custom mb-5 mt-5" style="height: 100vh">
       <div class="column cards-g3" id="plant-list">
          <% @plants.each do |plant| %>

          <div class="tag-content" id="results">
            <input class="tag-selector" id="plant-<%= plant.id %>" name="plant[<%= plant.id %>]" value="<%= plant.id %>">
            <label class="" for="plant-<%= plant.id %>">

            <div class="card-trip-mini">
              <img src="<%= plant.img_url %>" />
                <div class="card-trip-infos">
                    <div>
                      <h2><%= plant.name %></h2>
                      <!-- <p>Short description here!</p> -->
                    </div>
                    <h3 class="card-trip-pricing"><%= plant.price %> €</h3>
                    <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
                </div>
            </div>
            </label>
          </div>
          <% end %>
        </div>

        <div class="">
          <div class="column">
            <p class="text-center center-custom"><em>(Glisser/déposer au maximum  <%= @slots%> plantes)</em></p>
            <%= simple_form_for @kit do %>
            <div id="selection" class="left" data-slots= <%= @slots %>>
          </div>

          <div class="center-custom">
            <a href="" onclick="history.go(-1)" class="inactive-button mr-5">Retour</a>
            <%= submit_tag "Composer", class: "active-button mt-5" %>
            <% end %>
          </div>
        </div>
  </div>
</div>


<%= content_tag :div, class: "temp_information", data: {temp: @slots} do %>
<% end %>
