<div class="container py-5">
  <ul class="step-progressbar">
    <li class="step-progressbar__item step-progressbar__item--complete">Ajouter des plantes</li>
    <li class="step-progressbar__item step-progressbar__item--active">Ajouter des outils</li>
    <li class="step-progressbar__item">Payer</li>
  </ul>
</div>

<div class="container">
   <h1 class="mb-5">Choisis tes outils de jardinage</h1>
</div>

<div class="container">

  <ul class="toolcards">
  <li>
    <div href="" class="toolcard">
      <%= image_tag "tool-kit.jpg", class:"toolcard__image" %>
      <div class="toolcard__overlay">
        <div class="toolcard__header">
          <svg class="toolcard__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
          <button class="toolcard__button"><%= link_to '+', kit_toolkit_path(@kit), method:'PATCH', remote:true, class:"toolcard__button" %></button>
          <!-- <button class="toolcard__button">+</button> -->
          <div class="toolcard__header-text">
            <h3 class="toolcard__title"><%= @tool_kit.name %></h3>
            <span class="toolcard__price"><%= humanized_money_with_symbol (@tool_kit.price) %></span>
          </div>
        </div>
        <p class="toolcard__description"><%= @tool_kit.description %></p>
      </div>
    </div>
  </li>
  <li>
    <div href="" class="toolcard">
      <%= image_tag "gloves.jpg", class:"toolcard__image" %>
      <div class="toolcard__overlay">
        <div class="toolcard__header">
          <svg class="toolcard__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
          <button class="toolcard__button"><%= link_to '+', kit_gloves_path(@kit), method:'PATCH', remote:true, class:"toolcard__button"%></button>
          <div class="toolcard__header-text">
            <h3 class="toolcard__title"><%= @gloves.name %></h3>
            <span class="toolcard__price"><%= humanized_money_with_symbol (@gloves.price) %></span>
          </div>
        </div>
        <p class="toolcard__description"><%= @gloves.description %></p>
      </div>
    </div>
  </li>
  <li>
    <div href="" class="toolcard">
      <%= image_tag "soil.jpg", class:"toolcard__image" %>

      <div class="toolcard__overlay">
        <div class="toolcard__header">
          <svg class="toolcard__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
          <button class="toolcard__button"><%= link_to '+', kit_soil_path(@kit), method:'PATCH', remote:true, class:"toolcard__button" %></button>
          <div class="toolcard__header-text">
            <h3 class="toolcard__title"><%= @soil.name %></h3>
            <span class="toolcard__price"><%= humanized_money_with_symbol (@soil.price) %></span>
          </div>
        </div>
        <p class="toolcard__description"><%= @soil.description %></p>
      </div>
    </div>
  </li>
</ul>

<div class="container d-flex justify-content-between mb-5">
          <a href="" onclick="history.go(-1)" class="inactive-button mr-5">Retour</a>
          <%= form_tag kit_orders_path(@kit) do %>
          <%= hidden_field_tag 'kit_id', @kit.id %>
          <%= submit_tag 'Commander', class: 'active-button' %>
          <% end %>
</div>
</div>
</div>



