
<h1 class="text-center mt-5 mb-5">Ton carré personnalisé</h1>

<!-- Avec une table morray -->
<div class="container">

  <table class="table table-borderless">

    <thead class="border-bottom">
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Plante</th>
      <th scope="col">Prix</th>
    </thead>

    <tbody>

      <% @plants.each_with_index do |plant, index| %>
      <% plant = Plant.find_by(id: @plants[index].plant_id) %>

      <tr class="">
        <th class="align-middle" scope="row"><%= index + 1 %></th>
        <td><%= image_tag "#{plant.img_url}", size:"50" %></td>
        <td class="align-middle"><%= plant.name %></td>
        <td class="align-middle"><%= humanized_money_with_symbol(plant.price) %></td>
      </tr>

      <% @total_price += plant.price %>
      <% end %>

      <tr class="border-top">
        <td></td>
        <td></td>
        <td></td>
        <td><p><strong>Total price : <%= @total_price %> €</strong></p></td>
      </tr>

    </tbody>
  </table>
</div>

<div class="container d-flex justify-content-center">
  <a href="" onclick="history.go(-1)" class="inactive-button mr-5">Retour</a>
  <button id="payment-confirmation" class="active-button">Payer</button>
  <%= link_to 'Payer', dashboard_path, class:'active-button d-none', id:'pay-link' %>

  <%= form_tag kit_orders_path(@kit) do %>
  <%= hidden_field_tag 'kit_id', @kit.id %>
  <%= submit_tag 'Payer avec Stripe', class: 'active-button' %>
<% end %>
</div>

