<div class="container">
<h1>Commence ton jardin</h1>

<%= form_tag new_kit_path,method: :get do %>

<%= label_tag 'En quelle saison veux-tu planter ?' %><br>

<input type="radio" id="summer" name="season" value="summer">
<label for="summer"><%= image_tag "icons/sun.svg", class:'answer-icon' %></label>

<input type="radio" id="winter" name="season" value="winter">
<label for="winter"><%= image_tag "icons/snowflake.svg", class:'answer-icon' %></label><br>

<%= label_tag 'Quel est ton niveau en jardinage ?' %><br>
<input type="radio" id="begin" name="user_level" value="begin">
<label for="begin"><%= image_tag "icons/leaf.png", class:'answer-icon' %></label>

<input type="radio" id="medium" name="user_level" value="medium">
<label for="medium"><%= image_tag "icons/floral.svg", class:'answer-icon' %></label>

<input type="radio" id="expert" name="user_level" value="expert">
<label for="expert"><%= image_tag "icons/tree.svg", class:'answer-icon' %></label>


<label for="expert">Chêne centenaire</label><br>



<%= label_tag 'Combien de plantes veux-tu dans ton carré ?' %>
<br>

<input type="radio" id="2" name="slot" value="2">
<label for="2">2</label>
<input type="radio" id="4" name="slot" value="4">
<label for="4">4</label>
<input type="radio" id="6" name="slot" value="6">
<label for="6">6</label><br>


<%= label_tag 'As-tu besoin de matériel ? (terreau, outils)' %>
<br>
<input type="radio" id="answer_yes" name="tools" value="true">
<label for="answer_yes">Oui</label>
<input type="radio" id="answer_no" name="tools" value="false">
<label for="answer_no">Non</label><br>

 <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>

