<h1>Commence ton jardin</h1>


<%= form_tag plants_path,method: :get do %>

<%= label_tag 'En quelle saison veux-tu planter ?' %><br>
<input type="radio" id="summer" name="season" value="summer">
<label for="summer">Été</label><br>
<input type="radio" id="winter" name="season" value="winter">
<label for="winter">Hiver</label><br>

<%= label_tag 'Quel est ton niveau en jardinage ?' %><br>
<input type="radio" id="begin" name="user_level" value="begin">
<label for="begin">Jeune pousse</label><br>
<input type="radio" id="medium" name="user_level" value="medium">
<label for="medium">Belle plante</label><br>
<input type="radio" id="expert" name="user-level" value="expert">
<label for="expert">Chêne centenaire</label><br>

<% if false %>

<%= label_tag 'Combien de plantes veux-tu dans ton carré ?' %>
<%= text_field_tag :query,
 params[:query],
   class: "form-control",
     placeholder: "Taille"
%>

<%= label_tag 'As-tu besoin de matériel ? (terreau, outils)' %>
<%= text_field_tag :query,
 params[:query],
   class: "form-control",
     placeholder: "Outils"
%>
<% end %>

 <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%= console %>

