<div class="container">

<!-- Progress Bar HTML text -->

<div class="container d-flex justify-content-center">
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
</div>

  <%= form_tag new_kit_path, method: :get do %>
  <div class="question flex-center" id="question-1">
    <h1 class="mb-5">Parles nous de toi</h1>
    <div class="question">
      <h2 class="mb-5">En quelle saison veux-tu planter ?</h2>
      <div>

        <input type="radio" class="hidden-radio" id="summer" name="season" value="summer">
        <label for="summer" data-number="1">
          <%= image_tag "icons/sun.svg", class:'answer-icon clickable' %>
        </label>

        <input type="radio" class="hidden-radio" id="winter" name="season" value="winter">
        <label for="winter" data-number="1">
          <%= image_tag "icons/snowflake.svg", class:'answer-icon clickable' %>
        </label><br>

      </div>
    </div>
  </div>

  <div class="question flex-center" id="question-2">
     <a class="scroll-to" href="#question-1">
      <span>
        <i class="fa fa-angle-up mb-5" aria-hidden="true"></i>  </span>
    </a>
    <h2 class="mb-5">Quel est ton niveau en jardinage ?</h2>
    <div>

      <input type="radio" class="hidden-radio" id="begin" name="user_level" value="begin">
      <label for="begin" data-number="2">
        <%= image_tag "icons/leaf.png", class:'answer-icon clickable' %><br>Jeune pousse
      </label>

      <input type="radio" class="hidden-radio" id="medium" name="user_level" value="medium">
      <label for="medium" data-number="2">
        <%= image_tag "icons/floral.svg", class:'answer-icon clickable' %><br>Belle plante
      </label>

      <input type="radio" class="hidden-radio" id="expert" name="user_level" value="expert">
      <label for="expert" data-number="2">
        <%= image_tag "icons/tree.svg", class:'answer-icon clickable' %><br>Chêne centenaire
      </label>
    </div>
  </div>



  <div class="question flex-center" id="question-3">
    <a class="scroll-to" href="#question-2">
      <span>
        <i class="fa fa-angle-up mb-5" aria-hidden="true"></i>  </span>
    </a>

    <h2 class="mb-5">Combien de plantes veux-tu dans ton carré ?</h2>
    <div>
      <input type="radio" class="hidden-radio" id="2" name="slot" value="2">
      <label for="2" data-number="3"><%= image_tag "icons/slot-2.png", class:'answer-icon clickable' %></label>

      <input type="radio" class="hidden-radio" id="4" name="slot" value="4">
      <label for="4" data-number="3"><%= image_tag "icons/slot-4.png", class:'answer-icon clickable' %></label>

      <input type="radio" class="hidden-radio" id="6" name="slot" value="6">
      <label for="6" data-number="3"><%= image_tag "icons/slot-6.png", class:'answer-icon clickable' %></label><br>

      <%= submit_tag "C'est parti !", class: "mt-5 active-button", id:"last" %>
    </div>
  </div>

  <% end %>
</div>

<!-- Scroll script -->

<script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100 + 6;
  document.getElementById("myBar").style.width = scrolled + "%";
}
</script>
