<div class="d-flex align-items-center" style="min-height: 100vh;">
<!-- Avec une table morray -->
<div class="container">
    <h1 class="mb-5">Recapitulatif de ma commande</h1>
      <div class="container order-card" style="width:800px">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Quantité</th>
            <th scope="col">Produit</th>
            <th scope="col">Prix</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <th scope="row">kit de <%= @order.kit.slot %> emplacements</th>
            <th scope="row"><%= humanized_money_with_symbol @order.kit.price %></th>
          </tr>
        </tbody>
      </table>

      <div style="text-align: right;">
        <p><strong>Total :</strong> <%= humanized_money_with_symbol @order.amount %></p>
      </div>

      <a href="" onclick="history.go(-1)" class="inactive-button mr-5">Retour</a>
      <button id="pay" class="active-button">Payer</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
</div>
</div>
</div>

