<div class="container py-5">
  <ul class="step-progressbar">
    <li class="step-progressbar__item step-progressbar__item--complete">Ajouter des plantes</li>
    <li class="step-progressbar__item step-progressbar__item--complete">Ajouter des outils</li>
    <li class="step-progressbar__item step-progressbar__item--active">Payer</li>
  </ul>
</div>

<div class="container">
   <h1 class="mb-5">Récapitulatif de ta commande</h1>
</div>

<div class="">
<!-- Avec une table morray -->
        <div class="container order-card mt-5" style="width:800px">
        <table class="table ">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Quantité</th>
              <th scope="col">Produit</th>
              <th scope="col">Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="align-middle"><%= image_tag "jardiniere2.jpg", size:"80" %></th>
              <th class="align-middle">1</th>
              <th class="align-middle">Carré potager</th>
              <th class="align-middle"><%= humanized_money_with_symbol @order.kit.price %></th>
            </tr>

            <% if @kit.materials.present? %>
            <% @kit.materials.each do |material| %>
            <tr>
              <td class="align-middle"><%= image_tag "#{material.image_url}", size:"80" %></td>
              <td class="align-middle">1</td>
              <td class="align-middle"><%= material.name %></td>
              <td class="align-middle"><%= humanized_money_with_symbol material.price %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>

        <div style="text-align: right;">
          <p style="font-size:30px;"><strong>Total : <%= humanized_money_with_symbol @order.amount %></strong></p>
        </div >
        <div class="container d-flex justify-content-between mb-5">
          <a href="" onclick="history.go(-1)" class="inactive-button mr-5">Retour</a>
          <button id="pay" class="active-button">Payer</button>
         </div>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script>
  </div>
</div>



