
<div class="flexbox">
  <div class="dashboard-container d-flex">
    <div class="garden">
      <h1 class="text-center">Le jardin de <%= current_user.first_name %></h1>
      <div class="kit-container">
        <div class="accordion" id="accordionExample">
          <% @kits_user.each_with_index do |kit_user, index| %>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapse<%= kit_user.id %>" aria-expanded="true" aria-controls="collapse<%= kit_user.id %>">
                    <div class="title">
                      <div class="kit-infos">
                        <% kit_user.orders.each do |order| %>
                          <p><strong>Kit #<%= index+1 %></strong> créé le <%= order.created_at.to_date.strftime("%d/%m/%y") %> - <em><%= order.amount %>€</em></p>
                        <% end %>
                      </div>
                      <div class="kit-icons">
                        <%= image_tag "icons/kit.svg", width:"47" %>
                        <%= image_tag "icons/arrow-down.svg", width:"15" %>
                      </div>
                    </div>
                  </button>
                </h2>
              </div>
              <div id="collapse<%= kit_user.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="card-garden">
                    <% kit_user.plants.each do |plant|%>
                      <div class="plant-garden card-trip" data-toggle= "false" data-name= '<%= plant.name %>' data-image= '<%= plant.img_url%>' data-watering= '<%= plant.watering %>' data-sunshine= '<%= plant.sunshine_rate %>' data-description= '<%= plant.description %>' %>
                        <img src="<%= plant.img_url%>">
                        <div class="card-trip-infos">
                          <p style="font-size: inherit;"><%= plant.name %></p>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="mt-4 mb-4">
          <%= link_to 'Ajouter un kit', preferences_path, class: "active-button" %>
        </div>
      </div>
    </div>

    <div id="general-advise" class="conseil text-center">
      <h2>Nos conseils généraux</h2>
      <div class="advises">
        <div class="advice">
          <%= image_tag "icons/watering-can.svg", class:"icons-advice" %>
          <p>Pensez à arroser vos plantes régulièrement</p>
        </div>
        <div class="advice">
          <%= image_tag "icons/growth.svg", class:"icons-advice" %>
          <p>Leur lumière c'est vous</p>
        </div>
        <div class="advice">
        <%= image_tag "icons/heart-sketch.svg", class:"icons-advice" %>
          <p>Apportez leur de l'amour</p>
        </div>
        <div class="advice">
          <%= image_tag "icons/nuageux.svg", class:"icons-advice" %>
          <p>Surveillez la météo</p>
        </div>
        <div class="advice">
          <%= image_tag "icons/plant-advice.svg", class:"icons-advice" %>
          <p>Dans la vie, parfois il faut se planter</p>
        </div>
      </div>
    </div>

    <div id="specific-advise" class="conseil text-center advice-display">
      <h2 id="plant-name"></h2>
      <img src="" id="plant-image">
      <div class="advises">
        <p id="plant-watering"></p>
        <p id="plant-sunshine"></p>
        <p id="plant-description"></p>
        <button id="backBtn" class="active-button">Retour aux conseils généraux</button>
      </div>
    </div>
  </div>
</div>
